{% for book in object_list %}
  <tr>
    <td>{{ book.id }}</td>
    <td>{{ book.title }}</td>
    <td>{{ book.author }}</td>
    <td>{{ book.subject }}</td>
    <td><a href="{{ book.file.url }}"><i class="material-icons">cloud_download</i></a></td>
  </tr>
  {% empty %}
    <td colspan="5">No books yet.</td>
{% endfor %}
