{% extends "dashboard/base/dashboard_base.html" %}
{% block title %}Books{% endblock title %}


{% block navbar_brand %}Books{% endblock navbar_brand %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title ">Books</h4>
            <p class="card-category">Checkout the list of books</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    Title
                  </th>
                  <th>
                    Author
                  </th>
                  <th>
                    Subject
                  </th>
                  <th>
                    File
                  </th>
                </thead>
                <tbody>
                  {% for book in object_list %}
                    <tr>
                      <td>{{ book.title }}</td>
                      <td>{{ book.author }}</td>
                      <td>{{ book.subject }}</td>
                      <td><a href="{{ book.file.url }}"><i class="material-icons">cloud_download</i></a></td>
                    </tr>
                    {% empty %}
                      <td colspan="4">No books yet.</td>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock content %}

{% block script %}
  <script>
    $("#books").addClass("active")
  </script>
{% endblock script %}
