{% extends "library_front_end/base/base.html" %}

{% block body %}
<div class="crumbs text-center">
  <div class="container">
    <div class="row">
      <ul class="btn-group btn-breadcrumb bc-list">
        <li class="btn btn1">
          <a href="index.html">
            <i class="glyphicon glyphicon-home"></i>
          </a>
        </li>
        <li class="btn btn2">
          <a href="shop.html">Product Catalogue</a>
        </li>
        <li class="btn btn3">
          <a href="single_product.html">Single product</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!--//breadcrumbs ends here-->
<!-- Single -->
<div class="innerf-pages section">
  <div class="container">
    <div class="col-md-4 single-right-left ">
      <div class="grid images_3_of_2">
        <div class="flexslider1">
          <ul class="slides">
            <li data-thumb="images/s1.jpg">
              <div class="thumb-image">
                <img src="images/lib8.jpg" data-imagezoom="true" alt=" " class="img-responsive"> </div>
            </li>
            <li data-thumb="images/s2.jpg">
              <div class="thumb-image">
                <img src="images/s2.jpg" data-imagezoom="true" alt=" " class="img-responsive"> </div>
            </li>
            <li data-thumb="images/s3.png">
              <div class="thumb-image">
                <img src="images/s3.png" data-imagezoom="true" alt=" " class="img-responsive"> </div>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
      </div>

    </div>
    <div class="col-md-8 single-right-left simpleCart_shelfItem">
      <h3>{{ book.title }}
      </h3>
      <p>by
        <a href="#">{{ book.author }}</a>
      </p>
      <div class="desc_single">
        <h5>Description</h5>
        <p>{{ book.details }}</p>
      </div>
      <div class="occasional">
        <ul class="single_specific">
          <li>
            <span>Subject :</span> {{ book.subject }}
          </li>
        </ul>

      </div>
      <div class="clearfix"></div>
      <div class="occasion-cart">
        <div class="chr single-item single_page_b">
          <form action="#" method="post">
            <button type="submit" class="chr-cart pchr-cart">
              Download</button>
            <a href="{{ book.file }} data-toggle="modal" data-target="#myModal1"></a>
          </form>
          <a href="{{ book.file }}" class="button chr-cart pchr-cart">Download</a>
        </div>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
{% endblock body %}
