{% extends "library_front_end/base/base.html" %}

{% block body %}
<div class="crumbs text-center">
  <div class="container">
    <div class="row">
      <ul class="btn-group btn-breadcrumb bc-list">
        <li class="btn btn1">
          <a href="index.html">
            <i class="glyphicon glyphicon-home"></i>
          </a>
        </li>
        <li class="btn btn2">
          <a href="shop.html">product catalogue</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!--//breadcrumbs ends here-->
<!-- Shop -->
<div class="innerf-pages section">
  <div class="container-cart">
    <div class="left-ads-display col-md-12">
      <div class="wrapper_top_shop">
        <!-- product-sec1 -->
        <div class="product-sec1">
          <!-- row1-->
          <div class="col-md-3 product-men">
            <div class="product-chr-info chr">
              <div class="thumbnail">
                <a href="single_product.html">
                  <img src="images/lib8.jpg" alt="">
                </a>
              </div>
              <div class="caption">
                <h4>be creative</h4>
                <p>Clayton Barton</p>
                <form action="#" method="post">
                  <input type="hidden" name="cmd" value="_cart">
                  <input type="hidden" name="add" value="1">
                  <input type="hidden" name="chr_item" value="Book1">
                  <input type="hidden" name="amount" value="100.00">
                  <button type="submit" class="chr-cart pchr-cart">Add to cart
                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                  </button>
                  <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                </form>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>

        </div>

        <!-- //product-sec1 -->
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="clearfix"></div>

  </div>
</div>
<!--// Shop -->
{% endblock body %}
